In [52]:
import pandas as pd

In [53]:
#subindo o arquivo csv
df = pd.read_csv("Municipios csv\Regiao nordeste.csv", delimiter=";")

<>:2: SyntaxWarning: invalid escape sequence '\R'
<>:2: SyntaxWarning: invalid escape sequence '\R'
C:\Users\nicol\AppData\Local\Temp\ipykernel_6720\1545512075.py:2: SyntaxWarning: invalid escape sequence '\R'
  df = pd.read_csv("Municipios csv\Regiao nordeste.csv", delimiter=";")

In [54]:
#conferindo dados
df.head()

,UF,IBGE,NOME_MUNICIPIO,ENTIDADE,Adesão,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,CE,230010,ABAIARA,SECRETARIA MUNICIPAL DE SAUDE DE ABAIARA/CE,Sim,NaN,NaN,NaN,NaN,NaN
1,CE,230010,ABAIARA,NaN,Não,NaN,NaN,NaN,NaN,NaN
2,BA,290010,ABAÍRA,NaN,Não,NaN,NaN,NaN,NaN,NaN
3,BA,290020,ABARE,SECRETARIA MUNICIPAL DE SAUDE DE ABARE/BA,Sim,NaN,NaN,NaN,NaN,NaN
4,BA,290020,ABARÉ,NaN,Não,NaN,NaN,NaN,NaN,NaN

In [55]:
#Excluindo as colunas vazias
df.drop("Unnamed: 5", axis=1, inplace=True)
df.drop("Unnamed: 6", axis=1, inplace=True)
df.drop("Unnamed: 7", axis=1, inplace=True)
df.drop("Unnamed: 8", axis=1, inplace=True)
df.drop("Unnamed: 9", axis=1, inplace=True)

In [56]:
#conferindo colunas 
df.columns

Index(['UF', 'IBGE', 'NOME_MUNICIPIO', 'ENTIDADE', 'Adesão'], dtype='object')

In [57]:
#Mudando Sim e Não para 1 e 0
df['Adesão'] = df['Adesão'].str.replace('Sim', '1')
df['Adesão'] = df['Adesão'].str.replace('Não', '0').astype(int)

In [58]:
#Excluindo as colunas entidade e nome municipio
df.drop('ENTIDADE', inplace=True, axis=1)
df.drop('NOME_MUNICIPIO', inplace=True, axis=1)

In [59]:
#Agrupando por uf e ibge e somando
df = df.groupby(['UF', 'IBGE']).sum().reset_index()

In [60]:
#conferindo dados
df.head()

   UF    IBGE  Adesão
0  AL  270010       1
1  AL  270020       0
2  AL  270030       1
3  AL  270040       1
4  AL  270050       1

In [61]:
#Filtrando valor 270020
df[df['IBGE'] == 270020]

   UF    IBGE  Adesão
1  AL  270020       0

In [62]:
#verificando tamanho do dataframe
len(df)

1719

In [63]:
#Mudando coluna adesão para string
df['Adesão'] = df['Adesão'].astype(str)

In [64]:
#Mudando 1 e 0 para Sim e Não
df['Adesão'] = df['Adesão'].str.replace('1', 'Sim')
df['Adesão'] = df['Adesão'].str.replace('0', 'Não')

## Segundo dataframe pra trazer a coluna municipio

In [65]:
#subindo o arquivo csv
df1 = pd.read_csv("Municipios csv\Regiao nordeste.csv", delimiter=";")

<>:2: SyntaxWarning: invalid escape sequence '\R'
<>:2: SyntaxWarning: invalid escape sequence '\R'
C:\Users\nicol\AppData\Local\Temp\ipykernel_6720\2342887530.py:2: SyntaxWarning: invalid escape sequence '\R'
  df1 = pd.read_csv("Municipios csv\Regiao nordeste.csv", delimiter=";")

In [66]:
#conferindo dados
df1.head()

,UF,IBGE,NOME_MUNICIPIO,ENTIDADE,Adesão,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,CE,230010,ABAIARA,SECRETARIA MUNICIPAL DE SAUDE DE ABAIARA/CE,Sim,NaN,NaN,NaN,NaN,NaN
1,CE,230010,ABAIARA,NaN,Não,NaN,NaN,NaN,NaN,NaN
2,BA,290010,ABAÍRA,NaN,Não,NaN,NaN,NaN,NaN,NaN
3,BA,290020,ABARE,SECRETARIA MUNICIPAL DE SAUDE DE ABARE/BA,Sim,NaN,NaN,NaN,NaN,NaN
4,BA,290020,ABARÉ,NaN,Não,NaN,NaN,NaN,NaN,NaN

In [67]:
#Excluindo as colunas vazias
df1.drop("Unnamed: 5", axis=1, inplace=True)
df1.drop("Unnamed: 6", axis=1, inplace=True)
df1.drop("Unnamed: 7", axis=1, inplace=True)
df1.drop("Unnamed: 8", axis=1, inplace=True)
df1.drop("Unnamed: 9", axis=1, inplace=True)

In [68]:
#excluindo as colunas uf, adesão e entidade
df1.drop('UF', inplace=True, axis=1)
df1.drop('Adesão', inplace=True, axis=1)
df1.drop('ENTIDADE', inplace=True, axis=1)

In [69]:
#excluindo duplicadas de ibge
df1.drop_duplicates('IBGE', inplace=True)

In [70]:
#conferindo dados
df1.head()

     IBGE NOME_MUNICIPIO
0  230010        ABAIARA
2  290010         ABAÍRA
3  290020          ABARE
5  260005   ABREU E LIMA
6  210005     ACAILANDIA

In [71]:
#unindo o primeiro com o segundo dataframe
df = pd.merge(df, df1, on='IBGE')

In [72]:
#filtrando o valor 270020
df[df['IBGE'] == 270020]

   UF    IBGE Adesão NOME_MUNICIPIO
1  AL  270020    Não         ANADIA

## Terceiro dataframe pra trazer a coluna ENTIDADE

In [73]:
#subindo o arquivo csv
df2 = pd.read_csv("Municipios csv\Regiao nordeste.csv", delimiter=";")

<>:2: SyntaxWarning: invalid escape sequence '\R'
<>:2: SyntaxWarning: invalid escape sequence '\R'
C:\Users\nicol\AppData\Local\Temp\ipykernel_6720\1468746313.py:2: SyntaxWarning: invalid escape sequence '\R'
  df2 = pd.read_csv("Municipios csv\Regiao nordeste.csv", delimiter=";")

In [74]:
#Excluindo as colunas vazias
df2.drop("Unnamed: 5", axis=1, inplace=True)
df2.drop("Unnamed: 6", axis=1, inplace=True)
df2.drop("Unnamed: 7", axis=1, inplace=True)
df2.drop("Unnamed: 8", axis=1, inplace=True)
df2.drop("Unnamed: 9", axis=1, inplace=True)

In [75]:
#conferindo dados
df2.head()

,UF,IBGE,NOME_MUNICIPIO,ENTIDADE,Adesão
0,CE,230010,ABAIARA,SECRETARIA MUNICIPAL DE SAUDE DE ABAIARA/CE,Sim
1,CE,230010,ABAIARA,NaN,Não
2,BA,290010,ABAÍRA,NaN,Não
3,BA,290020,ABARE,SECRETARIA MUNICIPAL DE SAUDE DE ABARE/BA,Sim
4,BA,290020,ABARÉ,NaN,Não

In [76]:
#excluindo as colunas uf, adesão e nome municipio
df2.drop('UF', inplace=True, axis=1)
df2.drop('Adesão', inplace=True, axis=1)
df2.drop('NOME_MUNICIPIO', inplace=True, axis=1)

In [77]:
#excluindo duplicadas de ibge e excluindo valores nulos
df2.drop_duplicates('IBGE', inplace=True)
df2.dropna(inplace=True)

In [78]:
#unindo com a primeira tabela
df = pd.merge(df, df2, on='IBGE', how='left')

In [79]:
len(df)

1719

In [80]:
#transformando em csv
df.to_csv("Municipios csv\Regiao nordeste filtrado.csv", sep=';', index=False)

<>:2: SyntaxWarning: invalid escape sequence '\R'
<>:2: SyntaxWarning: invalid escape sequence '\R'
C:\Users\nicol\AppData\Local\Temp\ipykernel_6720\2619076136.py:2: SyntaxWarning: invalid escape sequence '\R'
  df.to_csv("Municipios csv\Regiao nordeste filtrado.csv", sep=';', index=False)