In [193]:
import pandas as pd

In [ ]:
#subindo o arquivo csv
df = pd.read_csv('Municipios csv\Regiao norte.csv', delimiter=';')

<>:1: SyntaxWarning: invalid escape sequence '\R'
<>:1: SyntaxWarning: invalid escape sequence '\R'
C:\Users\nicol\AppData\Local\Temp\ipykernel_4308\3566778562.py:1: SyntaxWarning: invalid escape sequence '\R'
  df = pd.read_csv('Municipios csv\Regiao norte.csv', delimiter=';')

In [ ]:
#conferindo dados
df.head()

,UF,IBGE,NOME_MUNICIPIO,ENTIDADE,Adesão
0,PA,150010,ABAETETUBA,SECRETARIA MUNICIPAL DE SAUDE DE ABAETETUBA,Sim
1,PA,150010,ABAETETUBA,NaN,Não
2,PA,150013,ABEL FIGUEIREDO,NaN,Não
3,TO,170025,ABREULANDIA,SECRETARIA MUNICIPAL DE SAUDE DE ABREULANDIA/TO,Sim
4,TO,170025,ABREULÂNDIA,NaN,Não

In [ ]:
#Mudando Sim e Não para 1 e 0
df["Adesão "] = df["Adesão "].str.replace('Sim', '1')
df["Adesão "] = df["Adesão "].str.replace('Não', '0').astype(int)

In [ ]:
#Excluindo as colunas entidade e nome municipio
df.drop('ENTIDADE', inplace=True, axis=1)
df.drop('NOME_MUNICIPIO', inplace=True, axis=1)

In [ ]:
#Agrupando por uf e ibge e somando
df = df.groupby(['UF', 'IBGE']).sum().reset_index()

In [ ]:
#conferindo dados
df.head()

   UF    IBGE  Adesão
0  AC  120001        1
1  AC  120005        1
2  AC  120010        1
3  AC  120013        1
4  AC  120017        1

In [ ]:
#Filtrando valor 1500133
df[df['IBGE'] == 150013]

     UF    IBGE  Adesão
101  PA  150013        0

In [ ]:
#verificando tamanho do dataframe
len(df)

450

In [ ]:
#Mudando coluna adesão para string
df["Adesão "] = df["Adesão "].astype(str)

In [ ]:
#Mudando 1 e 0 para Sim e Não
df["Adesão "] = df["Adesão "].str.replace('1', 'Sim')
df["Adesão "] = df["Adesão "].str.replace('0', 'Não')

## Segundo dataframe pra trazer a coluna municipio

In [ ]:
#subindo o arquivo csv
df1 = pd.read_csv('Municipios csv\Regiao norte.csv', delimiter=';')

<>:1: SyntaxWarning: invalid escape sequence '\R'
<>:1: SyntaxWarning: invalid escape sequence '\R'
C:\Users\nicol\AppData\Local\Temp\ipykernel_4308\3031125442.py:1: SyntaxWarning: invalid escape sequence '\R'
  df1 = pd.read_csv('Municipios csv\Regiao norte.csv', delimiter=';')

In [ ]:
#conferindo dados
df1.head()

,UF,IBGE,NOME_MUNICIPIO,ENTIDADE,Adesão
0,PA,150010,ABAETETUBA,SECRETARIA MUNICIPAL DE SAUDE DE ABAETETUBA,Sim
1,PA,150010,ABAETETUBA,NaN,Não
2,PA,150013,ABEL FIGUEIREDO,NaN,Não
3,TO,170025,ABREULANDIA,SECRETARIA MUNICIPAL DE SAUDE DE ABREULANDIA/TO,Sim
4,TO,170025,ABREULÂNDIA,NaN,Não

In [ ]:
#excluindo as colunas uf, adesão e entidade
df1.drop('UF', inplace=True, axis=1)
df1.drop('Adesão ', inplace=True, axis=1)
df1.drop('ENTIDADE', inplace=True, axis=1)

In [ ]:
#excluindo duplicadas de ibge
df1.drop_duplicates('IBGE', inplace=True)

In [ ]:
#conferindo dados
df1.head()

     IBGE   NOME_MUNICIPIO
0  150010       ABAETETUBA
2  150013  ABEL FIGUEIREDO
3  170025      ABREULANDIA
5  150020            ACARA
7  120001       ACRELANDIA

In [ ]:
#unindo o primeiro com o segundo dataframe
df = pd.merge(df, df1, on='IBGE')

In [ ]:
#filtrando o valor 150013
df[df['IBGE'] == 150013]

     UF    IBGE Adesão    NOME_MUNICIPIO
101  PA  150013     Não  ABEL FIGUEIREDO

In [ ]:
#conferindo dados
df.head()

   UF    IBGE Adesão  NOME_MUNICIPIO
0  AC  120001     Sim     ACRELANDIA
1  AC  120005     Sim   ASSIS BRASIL
2  AC  120010     Sim      BRASILEIA
3  AC  120013     Sim         BUJARI
4  AC  120017     Sim       CAPIXABA

## Terceiro dataframe pra trazer a coluna ENTIDADE

In [ ]:
#subindo o arquivo csv
df2 = pd.read_csv('Municipios csv\Regiao norte.csv', delimiter=';')

<>:1: SyntaxWarning: invalid escape sequence '\R'
<>:1: SyntaxWarning: invalid escape sequence '\R'
C:\Users\nicol\AppData\Local\Temp\ipykernel_4308\4275146995.py:1: SyntaxWarning: invalid escape sequence '\R'
  df2 = pd.read_csv('Municipios csv\Regiao norte.csv', delimiter=';')

In [ ]:
#excluindo as colunas uf, adesão e nome municipio
df2.drop('UF', inplace=True, axis=1)
df2.drop('Adesão ', inplace=True, axis=1)
df2.drop('NOME_MUNICIPIO', inplace=True, axis=1)

In [ ]:
#excluindo duplicadas de ibge e excluindo valores nulos
df2.drop_duplicates('IBGE', inplace=True)
df2.dropna(inplace=True)

In [ ]:
#unindo com a primeira tabela
df = pd.merge(df, df2, on='IBGE', how='left')

In [ ]:
#conferindo dados
df.head()

,UF,IBGE,Adesão,NOME_MUNICIPIO,ENTIDADE
0,AC,120001,Sim,ACRELANDIA,SECRETARIA MUNICIPAL DE SAUDE DE ACRELANDIA/AC
1,AC,120005,Sim,ASSIS BRASIL,SECRETARIA MUNICIPAL DE SAUDE DE ASSIS BRASIL/AC
2,AC,120010,Sim,BRASILEIA,SECRETARIA MUNICIPAL DE SAUDE DE BRASILEIA/AC
3,AC,120013,Sim,BUJARI,SECRETARIA MUNICIPAL DE SAUDE DE BUJARI/AC
4,AC,120017,Sim,CAPIXABA,SECRETARIA MUNICIPAL DE SAUDE DE CAPIXABA/AC

In [ ]:
#Filtrando pelo nome abel figueiredo
df[df['NOME_MUNICIPIO'] == 'ABEL FIGUEIREDO']

     UF    IBGE Adesão    NOME_MUNICIPIO ENTIDADE
101  PA  150013     Não  ABEL FIGUEIREDO      NaN

In [ ]:
#verificando valores unicos de uf
df['UF'].unique()

array(['AC', 'AM', 'AP', 'PA', 'RO', 'RR', 'TO'], dtype=object)

In [ ]:
#conferindo tamanho do data frame
len(df)

450

In [ ]:
#exportando para csv
df.to_csv('Regiao norte tratado.csv', sep=';', index=False)