In [8]:
import pandas as pd

In [9]:
#subindo o arquivo csv
df = pd.read_csv('Municipios csv\Regiao sudeste.csv', delimiter=';')

<>:2: SyntaxWarning: invalid escape sequence '\R'
<>:2: SyntaxWarning: invalid escape sequence '\R'
C:\Users\nicol\AppData\Local\Temp\ipykernel_12588\1159643741.py:2: SyntaxWarning: invalid escape sequence '\R'
  df = pd.read_csv('Municipios csv\Regiao sudeste.csv', delimiter=';')

In [10]:
#conferindo dados
df.head()

,UF,IBGE,NOME_MUNICIPIO,ENTIDADE,Adesão
0,MG,310010,ABADIA DOS DOURADOS,SECRETARIA MUNICIPAL DE SAUDE DE CONGONHAS DO ...,Sim
1,MG,310020,ABAETE,SECRETARIA MUNICIPAL DE SAUDE DE ABAETE/MG,Sim
2,MG,310020,ABAETÉ,SECRETARIA MUNICIPAL DE SAUDE DE LEME DO PRADO/MG,Sim
3,MG,310030,ABRE CAMPO,SECRETARIA MUNICIPAL DE SAUDE DE INHAPIM/MG,Sim
4,MG,310040,ACAIACA,NaN,Não

In [11]:
#Mudando Sim e Não para 1 e 0
df["Adesão"] = df["Adesão"].str.replace('Sim', '1')
df["Adesão"] = df["Adesão"].str.replace('Não', '0').astype(int)

In [12]:
#Excluindo as colunas entidade e nome municipio
df.drop('ENTIDADE', inplace=True, axis=1)
df.drop('NOME_MUNICIPIO', inplace=True, axis=1)

In [13]:
#Agrupando por uf e ibge e somando
df = df.groupby(['UF', 'IBGE']).sum().reset_index()

In [14]:
#conferindo dados
df.head()

   UF    IBGE  Adesão
0  ES  320010       1
1  ES  320013       0
2  ES  320016       0
3  ES  320020       0
4  ES  320030       0

In [15]:
#Filtrando valor 320016
df[df['IBGE'] == 320016]

Empty DataFrame
Columns: [UF, IBGE, Adesão]
Index: []

In [16]:
#verificando tamanho do dataframe
len(df)

1669

In [17]:
#Mudando coluna adesão para string
df["Adesão"] = df["Adesão"].astype(str)

In [18]:
#Mudando 1 e 0 para Sim e Não
df["Adesão"] = df["Adesão"].str.replace('1', 'Sim')
df["Adesão"] = df["Adesão"].str.replace('0', 'Não')

## Segundo dataframe pra trazer a coluna municipio

In [19]:
#subindo o arquivo csv
df1 = pd.read_csv('Municipios csv\Regiao sudeste.csv', delimiter=';')

<>:2: SyntaxWarning: invalid escape sequence '\R'
<>:2: SyntaxWarning: invalid escape sequence '\R'
C:\Users\nicol\AppData\Local\Temp\ipykernel_12588\3357797378.py:2: SyntaxWarning: invalid escape sequence '\R'
  df1 = pd.read_csv('Municipios csv\Regiao sudeste.csv', delimiter=';')

In [20]:
#conferindo dados
df1.head()

,UF,IBGE,NOME_MUNICIPIO,ENTIDADE,Adesão
0,MG,310010,ABADIA DOS DOURADOS,SECRETARIA MUNICIPAL DE SAUDE DE CONGONHAS DO ...,Sim
1,MG,310020,ABAETE,SECRETARIA MUNICIPAL DE SAUDE DE ABAETE/MG,Sim
2,MG,310020,ABAETÉ,SECRETARIA MUNICIPAL DE SAUDE DE LEME DO PRADO/MG,Sim
3,MG,310030,ABRE CAMPO,SECRETARIA MUNICIPAL DE SAUDE DE INHAPIM/MG,Sim
4,MG,310040,ACAIACA,NaN,Não

In [21]:
#excluindo as colunas uf, adesão e entidade
df1.drop('UF', inplace=True, axis=1)
df1.drop('Adesão', inplace=True, axis=1)
df1.drop('ENTIDADE', inplace=True, axis=1)

In [22]:
#excluindo duplicadas de ibge
df1.drop_duplicates('IBGE', inplace=True)

In [23]:
#conferindo dados
df1.head()

     IBGE       NOME_MUNICIPIO
0  310010  ABADIA DOS DOURADOS
1  310020               ABAETE
3  310030           ABRE CAMPO
4  310040              ACAIACA
5  310050              AÇUCENA

In [24]:
#unindo o primeiro com o segundo dataframe
df = pd.merge(df, df1, on='IBGE')

In [25]:
#Filtrando valor 320016
df[df['IBGE'] == 320016]

Empty DataFrame
Columns: [UF, IBGE, Adesão, NOME_MUNICIPIO]
Index: []

In [26]:
#conferindo dados
df.head()

   UF    IBGE Adesão      NOME_MUNICIPIO
0  ES  320010    Sim      AFONSO CLAUDIO
1  ES  320013    Não        ÁGUIA BRANCA
2  ES  320016    Não  ÁGUA DOCE DO NORTE
3  ES  320020    Não              ALEGRE
4  ES  320030    Não      ALFREDO CHAVES

## Terceiro dataframe pra trazer a coluna ENTIDADE

In [27]:
#subindo o arquivo csv
df2 = pd.read_csv('Municipios csv\Regiao sudeste.csv', delimiter=';')

<>:2: SyntaxWarning: invalid escape sequence '\R'
<>:2: SyntaxWarning: invalid escape sequence '\R'
C:\Users\nicol\AppData\Local\Temp\ipykernel_12588\3688148543.py:2: SyntaxWarning: invalid escape sequence '\R'
  df2 = pd.read_csv('Municipios csv\Regiao sudeste.csv', delimiter=';')

In [28]:
#excluindo as colunas uf, adesão e nome municipio
df2.drop('UF', inplace=True, axis=1)
df2.drop('Adesão', inplace=True, axis=1)
df2.drop('NOME_MUNICIPIO', inplace=True, axis=1)

In [29]:
#excluindo duplicadas de ibge e excluindo valores nulos
df2.drop_duplicates('IBGE', inplace=True)
df2.dropna(inplace=True)

In [30]:
#unindo com a primeira tabela
df = pd.merge(df, df2, on='IBGE', how='left')

In [31]:
#conferindo dados
df.head()

,UF,IBGE,Adesão,NOME_MUNICIPIO,ENTIDADE
0,ES,320010,Sim,AFONSO CLAUDIO,SECRETARIA MUNICIPAL DE SAUDE DE BREJETUBA/ES
1,ES,320013,Não,ÁGUIA BRANCA,NaN
2,ES,320016,Não,ÁGUA DOCE DO NORTE,NaN
3,ES,320020,Não,ALEGRE,NaN
4,ES,320030,Não,ALFREDO CHAVES,NaN

In [32]:
#conferindo tamanho do data frame
len(df)

1669

In [33]:
df.to_csv('Municipios csv\Regiao sudeste filtrado.csv', index=False, sep=';')

<>:1: SyntaxWarning: invalid escape sequence '\R'
<>:1: SyntaxWarning: invalid escape sequence '\R'
C:\Users\nicol\AppData\Local\Temp\ipykernel_12588\2809989500.py:1: SyntaxWarning: invalid escape sequence '\R'
  df.to_csv('Municipios csv\Regiao sudeste filtrado.csv', index=False, sep=';')