In [1]:
import pandas as pd

In [2]:
#subindo o arquivo csv
df = pd.read_csv('Municipios csv\Regiao sul.csv', delimiter=';')

<>:2: SyntaxWarning: invalid escape sequence '\R'
<>:2: SyntaxWarning: invalid escape sequence '\R'
C:\Users\nicol\AppData\Local\Temp\ipykernel_4396\2324751879.py:2: SyntaxWarning: invalid escape sequence '\R'
  df = pd.read_csv('Municipios csv\Regiao sul.csv', delimiter=';')

In [3]:
#conferindo dados
df.head()

,UF,IBGE,NOME_MUNICIPIO,ENTIDADE,Adesão
0,PR,410010,ABATIA,SECRETARIA MUNICIPAL DE SAUDE DE ABATIA/PR,Sim
1,PR,410010,ABATIÁ,NaN,Não
2,SC,420005,ABDON BATISTA,SECRETARIA MUNICIPAL DE SAUDE DE ABDON BATISTA/SC,Sim
3,SC,420005,ABDON BATISTA,NaN,Não
4,SC,420010,ABELARDO LUZ,SECRETARIA MUNICIPAL DE SAUDE DE ABELARDO LUZ/SC,Sim

In [4]:
#Mudando Sim e Não para 1 e 0
df["Adesão"] = df["Adesão"].str.replace('Sim', '1')
df["Adesão"] = df["Adesão"].str.replace('Não', '0').astype(int)

In [5]:
#Excluindo as colunas entidade e nome municipio
df.drop('ENTIDADE', inplace=True, axis=1)
df.drop('NOME_MUNICIPIO', inplace=True, axis=1)

In [6]:
#Agrupando por uf e ibge e somando
df = df.groupby(['UF', 'IBGE']).sum().reset_index()

In [7]:
#conferindo dados
df.head()

   UF    IBGE  Adesão
0  PR  410010       1
1  PR  410020       1
2  PR  410030       1
3  PR  410040       0
4  PR  410045       1

In [8]:
#Filtrando valor 410040
df[df['IBGE'] == 410040]

   UF    IBGE  Adesão
3  PR  410040       0

In [9]:
#verificando tamanho do dataframe
len(df)

1192

In [10]:
#Mudando coluna adesão para string
df["Adesão"] = df["Adesão"].astype(str)

In [11]:
#Mudando 1 e 0 para Sim e Não
df["Adesão"] = df["Adesão"].str.replace('1', 'Sim')
df["Adesão"] = df["Adesão"].str.replace('0', 'Não')

## Segundo dataframe pra trazer a coluna municipio

In [12]:
#subindo o arquivo csv
df1 = pd.read_csv('Municipios csv\Regiao sul.csv', delimiter=';')

<>:2: SyntaxWarning: invalid escape sequence '\R'
<>:2: SyntaxWarning: invalid escape sequence '\R'
C:\Users\nicol\AppData\Local\Temp\ipykernel_4396\1835177537.py:2: SyntaxWarning: invalid escape sequence '\R'
  df1 = pd.read_csv('Municipios csv\Regiao sul.csv', delimiter=';')

In [13]:
#excluindo as colunas uf, adesão e entidade
df1.drop('UF', inplace=True, axis=1)
df1.drop('Adesão', inplace=True, axis=1)
df1.drop('ENTIDADE', inplace=True, axis=1)

In [14]:
#excluindo duplicadas de ibge
df1.drop_duplicates('IBGE', inplace=True)

In [15]:
#conferindo dados
df1.head()

     IBGE NOME_MUNICIPIO
0  410010         ABATIA
2  420005  ABDON BATISTA
4  420010   ABELARDO LUZ
6  430003         ACEGUA
8  410020   ADRIANOPOLIS

In [16]:
#unindo o primeiro com o segundo dataframe
df = pd.merge(df, df1, on='IBGE')

In [17]:
#filtrando o valor 410040
df[df['IBGE'] == 410040]

   UF    IBGE Adesão       NOME_MUNICIPIO
3  PR  410040    Não  ALMIRANTE TAMANDARÉ

In [18]:
#conferindo dados
df.head()

   UF    IBGE Adesão       NOME_MUNICIPIO
0  PR  410010    Sim               ABATIA
1  PR  410020    Sim         ADRIANOPOLIS
2  PR  410030    Sim        AGUDOS DO SUL
3  PR  410040    Não  ALMIRANTE TAMANDARÉ
4  PR  410045    Sim   ALTAMIRA DO PARANA

## Terceiro dataframe pra trazer a coluna ENTIDADE

In [19]:
#subindo o arquivo csv
df2 = pd.read_csv('Municipios csv\Regiao sul.csv', delimiter=';')

<>:2: SyntaxWarning: invalid escape sequence '\R'
<>:2: SyntaxWarning: invalid escape sequence '\R'
C:\Users\nicol\AppData\Local\Temp\ipykernel_4396\1490392496.py:2: SyntaxWarning: invalid escape sequence '\R'
  df2 = pd.read_csv('Municipios csv\Regiao sul.csv', delimiter=';')

In [20]:
#excluindo as colunas uf, adesão e nome municipio
df2.drop('UF', inplace=True, axis=1)
df2.drop('Adesão', inplace=True, axis=1)
df2.drop('NOME_MUNICIPIO', inplace=True, axis=1)

In [21]:
#excluindo duplicadas de ibge e excluindo valores nulos
df2.drop_duplicates('IBGE', inplace=True)
df2.dropna(inplace=True)

In [22]:
#unindo com a primeira tabela
df = pd.merge(df, df2, on='IBGE', how='left')

In [23]:
len(df)

1192

In [24]:
df.to_csv('Municipios csv\Regiao sul tratado.csv', index=False)

<>:1: SyntaxWarning: invalid escape sequence '\R'
<>:1: SyntaxWarning: invalid escape sequence '\R'
C:\Users\nicol\AppData\Local\Temp\ipykernel_4396\583545780.py:1: SyntaxWarning: invalid escape sequence '\R'
  df.to_csv('Municipios csv\Regiao sul tratado.csv', index=False)