In [123]:
import pandas as pd

In [124]:
#subindo o arquivo csv
df = pd.read_csv('Municipios csv\Regiao centro oeste.csv', delimiter=';')

<>:2: SyntaxWarning: invalid escape sequence '\R'
<>:2: SyntaxWarning: invalid escape sequence '\R'
C:\Users\nicol\AppData\Local\Temp\ipykernel_12720\4196681965.py:2: SyntaxWarning: invalid escape sequence '\R'
  df = pd.read_csv('Municipios csv\Regiao centro oeste.csv', delimiter=';')

In [125]:
#conferindo dados
df.head()

,UF,IBGE,NOME_MUNICIPIO,ENTIDADE,Adesão
0,GO,520005,ABADIA DE GOIAS,SECRETARIA MUNICIPAL DE SAUDE DE ABADIA DE GOI...,Sim
1,GO,520005,ABADIA DE GOIÁS,NaN,Não
2,GO,520010,ABADIÂNIA,NaN,Não
3,MT,510010,ACORIZAL,SECRETARIA MUNICIPAL DE SAUDE DE ACORIZAL/MT,Sim
4,MT,510010,ACORIZAL,NaN,Não

In [126]:
#Mudando Sim e Não para 1 e 0
df["Adesão"] = df["Adesão"].str.replace('Sim', '1')
df["Adesão"] = df["Adesão"].str.replace('Não', '0').astype(int)

In [127]:
#Excluindo as colunas entidade e nome municipio
df.drop('ENTIDADE', inplace=True, axis=1)
df.drop('NOME_MUNICIPIO', inplace=True, axis=1)

In [128]:
#Agrupando por uf e ibge e somando
df = df.groupby(['UF', 'IBGE']).sum().reset_index()

In [129]:
#conferindo dados
df.head()

   UF    IBGE  Adesão
0  GO  520005       1
1  GO  520010       0
2  GO  520013       1
3  GO  520015       1
4  GO  520017       1

In [130]:
#Filtrando valor 520010
df[df['IBGE'] == 520010]

   UF    IBGE  Adesão
1  GO  520010       0

In [131]:
#verificando tamanho do dataframe
len(df)

466

In [132]:
#Mudando coluna adesão para string
df["Adesão"] = df["Adesão"].astype(str)

In [133]:
#Mudando 1 e 0 para Sim e Não
df["Adesão"] = df["Adesão"].str.replace('1', 'Sim')
df["Adesão"] = df["Adesão"].str.replace('0', 'Não')

## Segundo dataframe pra trazer a coluna municipio

In [134]:
#subindo o arquivo csv
df1 = pd.read_csv('Municipios csv\Regiao centro oeste.csv', delimiter=';')

<>:2: SyntaxWarning: invalid escape sequence '\R'
<>:2: SyntaxWarning: invalid escape sequence '\R'
C:\Users\nicol\AppData\Local\Temp\ipykernel_12720\3072158752.py:2: SyntaxWarning: invalid escape sequence '\R'
  df1 = pd.read_csv('Municipios csv\Regiao centro oeste.csv', delimiter=';')

In [135]:
#conferindo dados
df1.head()

,UF,IBGE,NOME_MUNICIPIO,ENTIDADE,Adesão
0,GO,520005,ABADIA DE GOIAS,SECRETARIA MUNICIPAL DE SAUDE DE ABADIA DE GOI...,Sim
1,GO,520005,ABADIA DE GOIÁS,NaN,Não
2,GO,520010,ABADIÂNIA,NaN,Não
3,MT,510010,ACORIZAL,SECRETARIA MUNICIPAL DE SAUDE DE ACORIZAL/MT,Sim
4,MT,510010,ACORIZAL,NaN,Não

In [136]:
#excluindo as colunas uf, adesão e entidade
df1.drop('UF', inplace=True, axis=1)
df1.drop('Adesão', inplace=True, axis=1)
df1.drop('ENTIDADE', inplace=True, axis=1)

In [137]:
#excluindo duplicadas de ibge
df1.drop_duplicates('IBGE', inplace=True)

In [138]:
#conferindo dados
df1.head()

     IBGE   NOME_MUNICIPIO
0  520005  ABADIA DE GOIAS
2  520010        ABADIÂNIA
3  510010         ACORIZAL
5  520013          ACREUNA
7  520015        ADELANDIA

In [139]:
#unindo o primeiro com o segundo dataframe
df = pd.merge(df, df1, on='IBGE')

In [140]:
#Filtrando valor 520010
df[df['IBGE'] == 520010]

   UF    IBGE Adesão NOME_MUNICIPIO
1  GO  520010    Não      ABADIÂNIA

In [141]:
#conferindo dados
df.head()

   UF    IBGE Adesão      NOME_MUNICIPIO
0  GO  520005    Sim     ABADIA DE GOIAS
1  GO  520010    Não           ABADIÂNIA
2  GO  520013    Sim             ACREUNA
3  GO  520015    Sim           ADELANDIA
4  GO  520017    Sim  AGUA FRIA DE GOIAS

## Terceiro dataframe pra trazer a coluna ENTIDADE

In [142]:
#subindo o arquivo csv
df2 = pd.read_csv('Municipios csv\Regiao centro oeste.csv', delimiter=';')

<>:2: SyntaxWarning: invalid escape sequence '\R'
<>:2: SyntaxWarning: invalid escape sequence '\R'
C:\Users\nicol\AppData\Local\Temp\ipykernel_12720\2588111477.py:2: SyntaxWarning: invalid escape sequence '\R'
  df2 = pd.read_csv('Municipios csv\Regiao centro oeste.csv', delimiter=';')

In [143]:
#excluindo as colunas uf, adesão e nome municipio
df2.drop('UF', inplace=True, axis=1)
df2.drop('Adesão', inplace=True, axis=1)
df2.drop('NOME_MUNICIPIO', inplace=True, axis=1)

In [144]:
#excluindo duplicadas de ibge e excluindo valores nulos
df2.drop_duplicates('IBGE', inplace=True)
df2.dropna(inplace=True)

In [145]:
#unindo com a primeira tabela
df = pd.merge(df, df2, on='IBGE', how='left')

In [146]:
#conferindo dados
df.head()

,UF,IBGE,Adesão,NOME_MUNICIPIO,ENTIDADE
0,GO,520005,Sim,ABADIA DE GOIAS,SECRETARIA MUNICIPAL DE SAUDE DE ABADIA DE GOI...
1,GO,520010,Não,ABADIÂNIA,NaN
2,GO,520013,Sim,ACREUNA,SECRETARIA MUNICIPAL DE SAUDE DE ACREUNA/GO
3,GO,520015,Sim,ADELANDIA,SECRETARIA MUNICIPAL DE SAUDE DE ADELANDIA/GO
4,GO,520017,Sim,AGUA FRIA DE GOIAS,SECRETARIA MUNICIPAL DE SAUDE DE AGUA FRIA DE ...

In [147]:
#conferindo tamanho do data frame
len(df)

466

In [148]:
df.to_csv('Municipios csv\Regiao centro oeste filtrado.csv', sep=';', index=False)

<>:1: SyntaxWarning: invalid escape sequence '\R'
<>:1: SyntaxWarning: invalid escape sequence '\R'
C:\Users\nicol\AppData\Local\Temp\ipykernel_12720\1042505026.py:1: SyntaxWarning: invalid escape sequence '\R'
  df.to_csv('Municipios csv\Regiao centro oeste filtrado.csv', sep=';', index=False)